<%= form_for(@painting) do |form| %>
  <% if painting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(painting.errors.count, "error") %> prohibited this painting from being saved:</h2>

      <ul>
      <% painting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :painting_title, class: :"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :year %>
    <%= form.text_field :year, id: :painting_year, class: :"form-control", type: :number %>
  </div>

  <div class="field form-group">
    <%= form.label :description %>
    <%= form.text_area :description, id: :painting_description, rows: 6, class: :"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :dimensions %>
    <%= form.text_field :dimensions, id: :painting_dimensions, class: :"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :medium %>
    <%= form.text_field :medium, id: :painting_medium, class: :"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :support %>
    <%= form.text_field :support, id: :painting_support, class: :"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :framed %>
    <%= form.select :framed, Painting::FRAMED.keys %>
  </div>

  <div class="field form-group">
    <%= form.label :style %>
    <%= form.select :style, Painting::STYLES.keys %>
  </div>

  <div class="field form-group">
    <%= form.label :price %>
    <%= form.text_field :price, id: :painting_price, class: :"form-control", type: :number %>
  </div>

  <div class="field form-group">
    <%= form.label :status %>
    <%= form.select :status, Painting::STATUS.keys %>
  </div>


    <%= form.label "Painting Image" %>
      <%= form.file_field :pclip_image, id: :painting_image, class: :"form-control" %>


  <div class="actions">
    <%= form.submit class: :"btn btn-default" %>
  </div>
<% end %>
