<div class="jumbotron">
  <div class="masthead-text-container">
    <div id="overlay" class="masthead-text">
      <h1>Tom Kane</h1>
      <img id="arrow" src="http://mrcagroup.com/img/icon_downarrow.png">
    </div>
  </div>
</div>

<p id="notice"><%= notice %></p>

<div class="gallery grid effect-2" id="grid">

  <% @paintings.each do |painting| %>
    <div class="black <%= painting.style %> slideanim">
      <div class="image-container <%= painting.style %>" style="background-image: url(<%= painting.image %>);">

        <h3 class="painting-center-title"><%= painting.title %></h3>
      </div>
    </div>
  <% end %>

</div>
