<div class="jumbotron">
  <div class="masthead-text-container">
    <div id="overlay" class="masthead-text">
      <h1>Tom Kane</h1>
    </div>
    <%= image_tag("down-arrow.png", :id => "arrow")%>
  </div>
</div>

<p id="notice"><%= notice %></p>

<div class="gallery grid effect-2" id="grid">

<% @paintings.each do |painting| %>
  <% if painting.status == "available" %>
    <%= link_to detail_path(painting.slug) do %>
      <div class="black <%= painting.style %> slideanim">
        <div class="image-container <%= painting.style %>" style="background-image: url(<%= "#{painting.pclip_image.url(:gallery)}" %>);">

          <h3 class="painting-center-title"><%= painting.title %></h3>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<% @paintings.each do |painting| %>
  <% if painting.status == "unavailable" || painting.status == "sold" %>
    <%= link_to detail_path(painting.slug) do %>
      <div class="black <%= painting.style %> slideanim">
        <div class="image-container <%= painting.style %>" style="background-image: url(<%= "#{painting.pclip_image.url(:gallery)}" %>);">

          <h3 class="painting-center-title"><%= painting.title %></h3>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
</div>
