<div class="header">Tom Kane</div>

<% painting = @paintings[0] %>

<div class="detail-image">
  <%= image_tag(painting.image) %>
</div>

<div class="painting-details">
  <h1><%= painting.title %></h1>
  <h3><%= painting.dimensions %></h3>
  <h3><%= "#{painting.medium} on #{painting.support}" %></h3>
  <h3><%= number_to_currency(painting.price) %></h3>
</div>
