<div class="detail-image-container">
  <%= image_tag(@painting.image, :class => "detail-image") %>
</div>

<div class="container painting-details">
  <h1><%= @painting.title %></h1>
  <h3><%= @painting.dimensions %></h3>
  <h3><%= "#{@painting.medium} on #{@painting.support}" %></h3>

  <% if @painting.price == 0 %>
    <h3>Not for Sale</h3>
  <% elsif @painting.order_items.length == 0 %>
    <h3><%= number_to_currency(@painting.price) %></h3>
    <%= form_for @order_item do |f| %>
      <%= f.hidden_field :painting_id, value: @painting.id %>
      <%= f.submit "Add to Cart", class: "btn btn-default btn-lg" %>
    <% end %>
  <% else %>
    <p>This item is in your <%= link_to 'cart', cart_path %>.</p>
  <% end %>
</div>
