<!DOCTYPE html>
<html>
  <head>
    <title>TomKaneArt</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'%>
  </head>

  <body>
    <div id="body">

      <%= render 'shared/navigation' %>
      <%= render 'shared/header' unless request.env['PATH_INFO']=='/' %>

      <div id="yield">
        <%= yield %>
      </div>
    </div>
    <%= render 'shared/footer' %>
  </body>

</html>
