<!DOCTYPE html>
<html>
  <head>
    <title>Tom Kane Art</title>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

    <script type="text/javascript">
      Stripe.setPublishableKey('<%= Rails.configuration.stripe[:publishable_key] %>');
    </script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= render 'application/favicon' %>
  </head>

  <body>

    <div id="body">

      <%= render 'shared/navigation' %>
      <%= render 'shared/header' unless request.env['PATH_INFO'] == "/" %>

      <% if request.env['PATH_INFO'] == '/' %>
        <div id="yield">
          <% if current_admin %>
            <p>
              User: <%= current_admin.email %> | <%= link_to "Sign out", destroy_admin_session_path, method: 'delete' %> | <%= link_to "Paintings", paintings_path %> | <%= link_to "Admins", admins_path if current_admin.super_admin %>
            </p>
          <% end %>
          <%= yield %>
        </div>

      <% else %>

        <div class="yield-container">
          <div id="yield">

            <%= flash[:alert] %>
            <%= flash[:notice] %>

            <% if current_admin %>
              <p>
                User: <%= current_admin.email %> | <%= link_to "Sign out", destroy_admin_session_path, method: 'delete' %> | <%= link_to "Paintings", paintings_path %> | <%= link_to("Admins", admins_path) if current_admin.super_admin %>
              </p>
            <% elsif request.env['PATH_INFO'] == "/admins/sign_in" %>
              <%= link_to "Sign in", new_admin_session_path %> | <%= link_to "Paintings", paintings_path %>
            <% end %>


            <%= yield %>
          </div>
        </div>
      <% end %>

    </div>
    <%= render 'shared/footer' %>
  </body>

</html>
